.account{
 margin-top:2rem;;
}

.btnInfo{
    margin-top: 20px;
}
.btnInfo:hover{
cursor: pointer;
}
.fStyle{
    font-weight: 500;
    font-size: 16;
}
.pers{
    background-color: #f5f5f5;
    margin: 2px;
}
.modal-header{
    background-color: #f5f5f5;
}